body{
    margin: 0;
    background-color: rgb(255, 255, 255);
}
.left{
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
    width: 20%; 
    float: left;           
}
.left > * {
    border: 1px black solid;
    margin: 4px;
}
button{
    font-size: 25px;  
    grid-column-start: 1;
    grid-column-end: 4;
    cursor: pointer;
}
#grid{
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(61, 1fr);
    height: 99vh;
    width: 80%; 
    float: right; 
    padding-top: 3px;
              
}
.smallbox{
    border: 1px solid lightgray ;
    background-color: white;
}